body {
    background: #f6f6f6;
    color: #333;
    max-width: 780px;
    margin: auto;
    padding: 1em;
    font-family: "Vollkorn", Times;
    font-size: 1.1em;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
}

p {
    margin-bottom: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #333;
}

a {
    color: #2484C1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #BA78BF;
}

pre {
    padding: 1em;
    overflow-x: auto;
}

code, pre {
    background-color: #ddd;
}

body>header {
    border-bottom: 1px solid #adadad;
    text-align: right;
}

body>header h1 {
    font-weight: bold;
    font-size: 2.5em;
}

body>header h2 {
    font-family: "Lato";
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
}

body>header a,
body>header a:hover,
body>header a:visited {
    color: #333;
    text-decoration: none;
}

menu {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    color: #000;
    text-decoration: none;
    padding: 0 2em;
}

nav a:hover {
    color: #808080;
    text-decoration: none;
}

article header p {
    margin: 0.2em;
    margin-left: 2em;
}

article header {
    margin-bottom: 2em;
}

article h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

article h2 {
    font-size: 1.5em;
}

body>footer {
    text-align: center;
    border-top: 1px solid #adadad;
}

.figure .caption {
    font-style: italic;
}

ins {
    text-decoration: none;
}

ins::before {
    font-weight: bold;
    content: ">> ";
}

article .meta {

    text-align: center;

}
article .meta {
    text-align: center;
    top: 85px;
    line-height: 2;
    font-size: 0.8em;
    color: #999;
    padding: 10px 0px;
    border-top: 1px dashed #adadad;
    clear: both;
    position: static;
    width: auto;
}

article .meta .meta-component {
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

footer #social a {
    font-size: 18px;
    color: #999;
    transition: color 0.3s ease 0s;
    padding: 20px;
}

footer #social a:hover {
    color: #2484C1;
}
