body {
    max-width: 900px;
}

#map {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 58%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.limit {
    stroke: #223;
    fill: none;
}

.earth path {
    stroke: #404040;
    stroke-width: 0.5;
    fill: none;
}

.voronoi path {
    stroke: none;
    fill-opacity: 0.8;
    shape-rendering: crispedges;
}

.title {
    font-size: 14px;
    font-family: sans-serif;
}

.legend .label {
    font-size: 11px;
    font-family: sans-serif;
}

.legend .swatch {
    fill-opacity: 0.8;
}
